<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% if name %}
    <h1>Hello {{ name }}</h1>
  {% else %}
    <h1>Hello World!</h1>
  {% endif %}

  <ul>
    {% for product in products %}
      {% comment %} <li>{{product.title}} - {{product.inventory}} and price - {{product.unit_price}}</li> {% endcomment %}
      <li>{{product.title}} and ${{product.unit_price}} - {{product.description}}</li>
    {% endfor %}
  </ul>
</body>
</html>